Data inspection.docx
paper/results.fdb_latexmk
paper/results.fls
paper/results.log
paper/results.synctex.gz
paper/results.fdb_latexmk
paper/results.toc
paper/results.out
paper/results.aux
paper/results.pdf
